<address>
    <span>{{ name }}</span> | {{ contact }}
</address>
<div>
    <h3>Technology</h3>
    <ul>
        <li *ngFor="let t of technologies">{{ t }}</li>
    </ul>
</div>
<div>
    <h3>Work History</h3>
    <div *ngFor="let wh of workHistories">
        <span>{{ wh.role }}</span> |
        <span>{{ wh.duration }}</span>
        <ul>
            <li *ngFor="let acc of wh.accomplishments">{{ acc }}</li>
        </ul>
    </div>
</div>
<div>
    <h3>Education</h3>
    <p *ngFor="let e of education">
        <span>{{ e.school }}</span> |
        <span>{{ e.degree }}</span>
    </p>
</div>